In [1]:
import numpy as np
import pandas as pd
car=pd.read_csv(r"C:\Users\Meet\Downloads\car.csv")
car.head()

  Make       Model  Year             Engine Fuel Type  ...  highway MPG  city mpg Popularity   MSRP
0  BMW  1 Series M  2011  premium unleaded (required)  ...           26        19       3916  46135
1  BMW    1 Series  2011  premium unleaded (required)  ...           28        19       3916  40650
2  BMW    1 Series  2011  premium unleaded (required)  ...           28        20       3916  36350
3  BMW    1 Series  2011  premium unleaded (required)  ...           28        18       3916  29450
4  BMW    1 Series  2011  premium unleaded (required)  ...           28        18       3916  34500

[5 rows x 16 columns]

### 1. Most expensive car for each car company make.

In [2]:
car.groupby(['Make'], as_index=False).MSRP.max()

             Make     MSRP
0           Acura   156000
1      Alfa Romeo    68400
2    Aston Martin   320695
3            Audi   199900
4             BMW   141200
5         Bentley   363000
6         Bugatti  2065902
7           Buick    49625
8        Cadillac   104215
9       Chevrolet    92395
10       Chrysler    49470
11          Dodge   120395
12           FIAT    31800
13        Ferrari   643330
14           Ford   149995
15            GMC    71665
16        Genesis    54550
17         HUMMER    43130
18          Honda    47070
19        Hyundai    68750
20       Infiniti    88850
21            Kia    61900
22    Lamborghini  1500000
23     Land Rover   199495
24          Lexus   375000
25        Lincoln    76650
26          Lotus    93225
27       Maserati   182009
28        Maybach  1382750
29          Mazda    44015
30        McLaren   280225
31  Mercedes-Benz   495000
32     Mitsubishi    38995
33         Nissan   149990
34     Oldsmobile    36795
35       Plymouth    44625
36        Pontiac    37610
37        Porsche   440000
38    Rolls-Royce   492425
39           Saab    51330
40          Scion    31090
41         Spyker   219990
42         Subaru    39995
43         Suzuki    31749
44          Tesla   134500
45         Toyota    84325
46     Volkswagen   101300
47          Volvo    65700

### 2. Most expensive convertible vehicle for each company.

In [3]:
car[car['Vehicle Style'] == 'Convertible'].groupby(['Make'] , as_index=False).MSRP.max()

             Make     MSRP
0      Alfa Romeo    65900
1    Aston Martin   320695
2            Audi   199600
3             BMW   136900
4         Bentley   363000
5           Buick    37065
6        Cadillac   104215
7       Chevrolet    92395
8        Chrysler    49470
9           Dodge     2000
10           FIAT    28195
11        Ferrari   294080
12           Ford    60110
13          Honda    37995
14       Infiniti    62100
15    Lamborghini   548800
16          Lexus    68405
17          Lotus    57950
18       Maserati   182009
19        Maybach  1382750
20          Mazda    32655
21        McLaren   280225
22  Mercedes-Benz   495000
23     Mitsubishi    32599
24         Nissan    49400
25     Oldsmobile     2000
26       Plymouth    44625
27        Pontiac    32300
28        Porsche   440000
29    Rolls-Royce   492000
30           Saab    51330
31         Spyker   219990
32         Toyota    30710
33     Volkswagen    42745
34          Volvo    41200

### 3. List all the cars which are automatic.

In [13]:
car[car['Transmission Type'] == 'AUTOMATIC'].groupby(['Make','Model']).first()

                  Year                Engine Fuel Type  Engine HP  ...  city mpg Popularity   MSRP
Make  Model                                                        ...
Acura CL          2001     premium unleaded (required)      225.0  ...        17        204  29980
      ILX         2015  premium unleaded (recommended)      150.0  ...        24        204  31750
      ILX Hybrid  2014  premium unleaded (recommended)      111.0  ...        39        204  28900
      Integra     2001                regular unleaded      140.0  ...        21        204  20200
      Legend      1994                regular unleaded      200.0  ...        17        204   2063
...                ...                             ...        ...  ...       ...        ...    ...
Volvo V90         1998                regular unleaded      181.0  ...        16        870   2200
      XC          2002     premium unleaded (required)      197.0  ...        17        870  36500
      XC60        2015                regular unleaded      325.0  ...        17        870  51050
      XC70        2014                regular unleaded      240.0  ...        18        870  34500
      XC90        2014                regular unleaded      240.0  ...        16        870  39700

[725 rows x 14 columns]

### 4. Premium cars of each car company

In [22]:
car[car['Engine Fuel Type'] == ('premium unleaded (required)' or 'premium unleaded (recommended)')].groupby(['Make','Model']).first()

                      Year             Engine Fuel Type  Engine HP  ...  city mpg Popularity    MSRP
Make       Model                                                    ...
Acura      CL         2001  premium unleaded (required)      225.0  ...        17        204   29980
           Integra    2001  premium unleaded (required)      170.0  ...        22        204   22600
           NSX        2017  premium unleaded (required)      573.0  ...        21        204  156000
           RL         2010  premium unleaded (required)      300.0  ...        16        204   54250
           RSX        2004  premium unleaded (required)      200.0  ...        21        204   23320
...                    ...                          ...        ...  ...       ...        ...     ...
Volkswagen Phaeton    2006  premium unleaded (required)      444.0  ...        11        873  101300
           R32        2008  premium unleaded (required)      250.0  ...        18        873   32990
           Touareg 2  2008  premium unleaded (required)      350.0  ...        12        873   48390
Volvo      V40        2002  premium unleaded (required)      160.0  ...        19        870   24900
           XC         2002  premium unleaded (required)      197.0  ...        17        870   36500

[312 rows x 14 columns]

### 5. Average price of cars each car company make.

In [23]:
car.groupby(['Make']).MSRP.mean()

Make
Acura            3.488759e+04
Alfa Romeo       6.160000e+04
Aston Martin     1.979104e+05
Audi             5.345211e+04
BMW              6.154676e+04
Bentley          2.471693e+05
Bugatti          1.757224e+06
Buick            2.820661e+04
Cadillac         5.623132e+04
Chevrolet        2.835039e+04
Chrysler         2.672296e+04
Dodge            2.239006e+04
FIAT             2.267024e+04
Ferrari          2.382188e+05
Ford             2.739927e+04
GMC              3.049330e+04
Genesis          4.661667e+04
HUMMER           3.646441e+04
Honda            2.667434e+04
Hyundai          2.459704e+04
Infiniti         4.239421e+04
Kia              2.531017e+04
Lamborghini      3.315673e+05
Land Rover       6.782322e+04
Lexus            4.754907e+04
Lincoln          4.283983e+04
Lotus            6.918828e+04
Maserati         1.142077e+05
Maybach          5.462219e+05
Mazda            2.003938e+04
McLaren          2.398050e+05
Mercedes-Benz    7.147623e+04
Mitsubishi       2.124054e+04
Nissan           2.858343e+04
Oldsmobile       1.154254e+04
Plymouth         3.122902e+03
Pontiac          1.932155e+04
Porsche          1.016224e+05
Rolls-Royce      3.511306e+05
Saab             2.741350e+04
Scion            1.993250e+04
Spyker           2.133233e+05
Subaru           2.482750e+04
Suzuki           1.790721e+04
Tesla            8.525556e+04
Toyota           2.903002e+04
Volkswagen       2.810238e+04
Volvo            2.854116e+04
Name: MSRP, dtype: float64